.photo-main-container{
    padding: 150px;
    background-color: #F4F4F4;
}

.img-announce{
    width: 300px;
}

.contact-container{
    background-color: blueviolet;
    border-radius: 10px;
    color: white;
}

.botao-whatsapp{
    background-color: #FF8C00;
}