.search-st{
    margin-top: 3em;
    padding: 20px;
}

.main{
    background-color: blueviolet;
    padding: 30px;
}

.ultimos-anuncios{
    background-color: white;
    margin-top: 30px;
}
.ultimos-anuncios h5{
    margin: 10px;
}

.descubra-img{
    object-fit: cover;  
    box-sizing: border-box;
    height: 160px;
    border-radius: 10px;
}

.box-announce{
    margin: 10px;
}

.img-card-announce{
    height: 150px;
    object-fit: cover;  

}