.ann-main{
    padding: 90px;
    margin-top: 30px;
}

.btn-enviar{
    background-color: blueviolet;
    padding: 10px;
    border-radius: 10px;
    width: 90px;
}

.btn-enviar:hover{
    background-color: blueviolet;
    
}