a{
    font-size: 18px;
}
.anunciar-st{
    background-color: blueviolet;
    border-radius: 10px;
}
.navbar-light .navbar-nav .nav-link {
    color: rgba(0,0,0,.55);
}

.navbar-light .navbar-nav .nav-link .ann{
    color: white;
}
.navbar-main{
    display: flex;
    justify-content: space-between;
}